@import '../variables';
@import '../components/mixins';

.x_vertical_products {
    display: flex;
    flex-wrap: wrap;

    .x_vertical_product {
        display: block;
        position: relative;
        flex: 0 0 25%;
        padding: 0 0 30px;
        border: 1px solid #f2f2f2 !important;
        &__label {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 27px;
            background-color: #2659CF;
            color: #fff;
            font-size: 11px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            z-index: 90;
        }
        &__stock {
            right: auto;
            left: 0;
            padding: 4px 5px 3px;
            font-size: 9px;
            line-height: 9px;
            max-width: 70px;
            text-align: right;
            background-color: #d8d8e1;
        }
        &__image {
            position: relative;
            margin: 0 0 20px;
            img {
                width: 100%;
            }
        }
        &__content {
            padding: 0 15px;
            min-height: 89px;
        }
        &__brand {
            margin: 0 0 8px;
            font-size: 13px;
            color: #6a6a6a;
            font-style: italic;
        }
        &__title {
            font-size: 16px;
            line-height: 19px;
            color: #404040;
            font-weight: 500;
        }
        &__price {
            min-height: 28px;
            span.regular_price {
                font-size: 13px;
                color: #bdbdbd;
                margin-right: 5px;
                text-decoration: line-through;
            }
            span.price {
                color: $original_s_c;
                font-size: 13px;
                font-weight: 700;
            }
        }
    }
    &:not(.owl-carousel) {
        border-left: 1px solid #f2f2f2;
        border-top: 1px solid #f2f2f2;
        .x_vertical_product {
            border-left: 0 !important;
            border-top: 0 !important;
        }
    }
    &_1 {
        .x_vertical_product {
            flex: 0 0 100%;
            &:last-child,
            &:nth-child(n) {
                border-right-color: transparent;
            }
        }
    }
    &_2 {
        .x_vertical_product {
            flex: 0 0 50%;
            &:last-child,
            &:nth-child(5n) {
                border-right-color: transparent;
            }
        }
    }
    &_3 {
        .x_vertical_product {
            flex: 0 0 33.333%;
            &:last-child,
            &:nth-child(3n) {
                border-right-color: transparent;
            }
        }
    }
    &_4 {
        .x_vertical_product {
            flex: 0 0 25%;
            &:last-child,
            &:nth-child(4n) {
                border-right-color: transparent;
            }
        }
    }
    &_5 {
        .x_vertical_product {
            flex: 0 0 20%;
            &:last-child,
            &:nth-child(5n) {
                border-right-color: transparent;
            }
        }
    }
    &_6 {
        .x_vertical_product {
            flex: 0 0 16.666%;
            &:last-child,
            &:nth-child(6n) {
                border-right-color: transparent;
            }
        }
    }
    .x_timer {
        border-top: 2px solid #2659CF;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.14);
        opacity: 0.9;
        * {
            color: $original_m_c;
        }
    }
}

@include breakpoint(laptop) {
    .x_vertical_products {
        .x_vertical_product {
            padding-bottom: 12px;
            &__image {
                margin-bottom: 17px;
            }
        }
    }
}

@include breakpoint(500px) {
    .x_vertical_products .x_timer {
        padding: 15px 7px;
    }
}