.stmt-to-image_hint {
    .stm-lms-image {
        .image-field {
            display: none;
        }
    }
    .hint-holder-image {
        position: relative;
        cursor: copy;
    }
    .hint-on-image,
    .hint-current-adding {
        position: absolute;
        padding-left: 60px;
        &__plus {
            position: absolute;
            left: 0;
            top: 0;
            width: 45px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            background: #0080ff;
            border-radius: 50%;
            color: #fff;
        }
        &__form {
            position: relative;
            margin-top: 2px;
            input {
                min-width: 200px;
                padding-right: 60px !important;
                margin: 0 !important;
                border: 0 !important;
            }
            span {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                width: 50px;
                line-height: 40px;
                background: #2cbb2c;
                color: #fff;
                text-align: center;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
        }
    }
    .hint-on-image {
        cursor: pointer;
        &__form {
            width: 0;
            overflow: hidden;
            span {
                background: #ff5354;
            }
        }
        &:hover {
            .hint-on-image__form {
                width: auto;
            }

        }
    }
}