#poststuff .stmt_metaboxes_grid .stmt_metaboxes_grid__inner {
    .stmt-order {
        padding: 0 30px;
        h5 {
            font-size: 1.4em;
        }
        &_data {
            display: flex;
            align-items: center;
            padding: 10px 0;
        }
        &_key {
            min-width: 100px;
            padding-right: 30px;
        }
        &_value {
            h5 {
                margin: 0;
                color: #000;
            }
            select {
                margin-bottom: 0;
            }
        }
        h2 {
            padding: 30px 0 15px;
            font-size: 2em;
            letter-spacing: 0.2px;
        }
    }
}

.post-type-stmt-orders #post-body-content {
    display: none;
}