@import "../components/timer";

.woocommerce-product-gallery {
    padding-bottom: 60px;
}

.x_single_timer {
    .x_timer {
        max-width: 400px;
        margin: 0 auto;
        bottom: 0;
        background-color: transparent;
    }
}