.x_brands {
    a.x_brands__single {
        display: block;
        img {
            width: auto;
            margin: 0 auto;
        }
    }
    &__grid {
        display: flex;
        flex-wrap: wrap;
        .x_brands__single {
            width: 50%;
            border-top: 1px dashed #e7e8e8;
            text-align: center;
            &:nth-child(2),
            &:nth-child(1) {
                border-top: 0;
            }
            &:nth-child(odd) {
                border-right: 1px dashed #e7e8e8;
            }
            img {
                filter: grayscale(1);
                transition: .1s ease;
            }
            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }
    }
}