@import "../components/mixins";
@import "../components/timer";
@import "../variables";

.x_product_grid_with_sync_carousel {
    &__title {
        margin-bottom: 40px;
        font-size: 21px;
        line-height: 30px;
        font-weight: 300;
        //color: #373737;
    }

    &__product {
        display: flex;
        margin: 9px;
        align-items: center;
        background-color: #fff;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

        &_image {
            width: 38.23%;
        }

        &_content {
            width: 55%;
            margin-left: auto;
        }

        &_title {
            margin: 0 0 20px;
            font-size: 13px;
            line-height: 18px;
            color: #404040;
        }

        &_price {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            .regular_price {
                margin-right: 5px;
                font-size: 12px;
                line-height: 16px;
                color: #c4c4c4;
                text-decoration: line-through;
            }

            .price {
                margin-right: 10px;
                font-size: 22px;
                color: $original_s_c;
                order: -1;
            }
        }

        &_timer {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -10px;
                width: 10px;
                background-color: #f0f3f5;
            }

            &:before {
                content: '';
                position: absolute;
                top: 100%;
                right: -10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 10px 0 0;
                border-color: #d6dcdf transparent transparent transparent;

            }

            .x_timer {
                position: static;
                background-color: #f0f3f5;
                margin: 0 0 25px;
            }
        }


    }

    .x_owl_nav {
        span {
            background-color: #fbfcfd;
        }
    }

}

@include breakpoint(tablet) {

    .x_products_sale_carousel {

        &__product {
            padding: 15px;
            &_image {
                position: absolute;
                top: 9px;
                left: 9px;
                right: 9px;
                bottom: 9px;
                width: auto;
                display: flex;
                justify-content: center;
                overflow: hidden;
                img {
                    height: 100%;
                    width: auto !important;
                    opacity: 0.1;
                }
            }
            &_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                min-height: 160px;
                > * {
                    width: 100%;
                }
            }
            &_timer {
                position: relative;
                top: -10px;
                max-height: 63px;
                width: calc(100% + 15px);
            }
        }


    }
}

@include breakpoint(tabletonly) {
    .x_products_sale_carousel {
        .owl-carousel .owl-stage-outer {
            width: 100%;
        }
        .x_owl_nav {
            float: none;
            margin: 30px 10px 0;
        }
        &__title {
            margin: 0 0 20px;
        }
    }
}