@import "components/mixins";
@import "components/base_variables";
//@import "components/reset";
/*Bootstrap*/
@import "../../../node_modules/bootstrap/scss/mixins/lists";
@import "../../../node_modules/bootstrap/scss/mixins/hover";
@import "../../../node_modules/bootstrap/scss/mixins/box-shadow";
@import "../../../node_modules/bootstrap/scss/mixins/transition";
@import "../../../node_modules/bootstrap/scss/mixins/forms";
@import "../../../node_modules/bootstrap/scss/mixins/border-radius";
@import "../../../node_modules/bootstrap/scss/mixins/gradients";
@import "../../../node_modules/bootstrap/scss/mixins/buttons";
@import "../../../node_modules/bootstrap/scss/mixins/table-row";
@import "../../../node_modules/bootstrap/scss/mixins/grid-framework";
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
//@import "../../../node_modules/bootstrap/scss/type";
//@import "../../../node_modules/bootstrap/scss/reboot";
//@import "../../../node_modules/bootstrap/scss/forms";
//@import "../../../node_modules/bootstrap/scss/buttons";
//@import "../../../node_modules/bootstrap/scss/tables";
@import "components/colorpicker";
@import "main";


html {
    background-color: #efefef;
}

.elements-link {
    display: block;
    min-height: 34px;
    padding-left: 40px;
    margin: 0 0 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: $font;
    color: $black;
    background: url("assets/images/elements.svg") 0 7px no-repeat;

    &:first-letter {
        text-transform: uppercase;
    }
}

a.elements-link {
    position: relative;
    text-decoration: none !important;
    background: none;

    i {
        position: absolute;
        left: 0;
        top: 3px
    }
}

.navigation {
    a {
        padding: 12px 25px 12px;
        line-height: 35px;
        font-weight: 700;
        font-size: 12px;
        color: $black;
        text-decoration: none !important;
        text-transform: uppercase !important;
        font-family: $font;
        border: 1px solid transparent;
        border-top-width: 2px;
        border-bottom-color: #d9d9d9;

        &.active {
            color: $edit;
            border-top-color: $edit;
            border-right-color: #d9d9d9;
            border-left-color: #d9d9d9;
            border-bottom-color: transparent;

            &:first-child {
                border-left-color: transparent;
            }

            &:last-child {
                border-right-color: transparent;
            }
        }
    }
}


/*SEARCH FORM*/
#x_builder {
    input.elements-search.form-control {
        margin: 0 0 20px;
        border: 1px solid #ced4da;
        color: $black;

        &::-webkit-input-placeholder {
            color: #bcbcbc;
        }
    }

    .add_new_element {
        &:hover {
            background-color: $edit;
            color: #fff;
        }
    }
}

.x-mini-elements {
    position: absolute;
    width: 360px;
    z-index: 999999;

    .elements {
        position: absolute;
        max-width: 360px;
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
        top: 100%;
        left: 50%;
        margin-top: 15px;
        margin-left: -180px;
        filter: drop-shadow(0px 5px 8px rgba(0, 0, 0, .13));

        &:before {
            content: '';
            position: absolute;
            top: -14px;
            left: 50%;
            margin-left: -13px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 13px 14px 13px;
            border-color: transparent transparent #ffffff transparent;
        }

        .elements-link {
            display: none;
        }

        .navigation {
            a {
                padding: 10px 15px;
            }
        }
    }
}

.save-menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 15px 30px;
    border: 1px solid #f7f2f2;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif, Helvetica;
    z-index: 9999;

    &.affix {
        display: block;
        padding: 15px 30px;
        top: 0 !important;
    }

    .button {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    a.button {
        margin-left: auto;
    }

    input[type="file"] {
        display: block;
        margin-top: 15px;
        width: 100%;
    }
}

.btn-x-save {
    width: 100%;
    border: 0;
    padding: 10px 15px;
    background-color: $edit;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .1);
}

.element_content_field {
    * {
        display: inline;
        color: #fff;
    }
}

.section.active,
.row-x.active,
.col.active,
.element.active {
    > .section-actions-wrapper,
    > .x-row-actions-wrapper,
    > .col-x > .col-actions-wrapper,
    > .element-actions-wrapper {
        .section-actions,
        .x-row-actions,
        .col-actions,
        .element-actions {
            .right_part {
                opacity: 1;
                visibility: visible;
            }
        }
        &:after {
            border-color: $edit;
        }
    }
}