$icomoon-font-family: "x_builder" !default;
$icomoon-font-path: "fonts" !default;

$xbuilder-add_plus: "\e900";
$xbuilder-close: "\e901";
$xbuilder-duplicate: "\e902";
$xbuilder-edit_module: "\e903";
$xbuilder-edit: "\e904";
$xbuilder-lg: "\e905";
$xbuilder-md: "\e906";
$xbuilder-mobile: "\e907";
$xbuilder-tablet_hor: "\e908";
$xbuilder-tablet_vert: "\e909";

