// Colors
$white: #ffffff;
$black: #000000;

$red:#f13e3e;
$green:#10c45c;



$edit:#2659cf;
$hover:#77a464;
$black: #1f2328;
$delete: #f11616;




// Social icons colors
$facebook: #3684e3;
$twitter: #53c8ff;
$google-plus: #dd4b39;
$linkedin: #2437ab;
$youtube: #bb0000;

$font: Arial, sans-serif, Helvetica;