/*Origin colors*/
$original_m_c: #292e38;
$original_s_c : #ffc400;
$original_t_c : #ffc401;

///*DEMO5*/
//$original_m_c : #022248;
//$original_s_c : #1241cd;
//$original_t_c : #fde3ee;

/*DEMO2*/
//$original_m_c : #2a2c32;
//$original_s_c : #304950;
//$original_t_c : #304950;

/*DEMO4*/
//$original_m_c : #222832;
//$original_s_c : #FFC400;
//$original_t_c : #FFC400;

/*DEMO3*/
//$original_m_c : #2a2c32;
//$original_s_c : #6e62e2;
//$original_t_c : #24c37d;

/*DEMO6*/
//$original_m_c : #2a2c32;
//$original_s_c : #6e62e2;
//$original_t_c : #24c37d;

/*DEMO7*/
//$original_m_c : #2a2c32;
//$original_s_c : #0f52ba;
//$original_t_c : #0f52ba;